/* media query start here */

@media (max-width:768px) {

    header {
        position: relative;
    }

   header #topsec {

        flex-direction: column-reverse;
    }

    header #topsec .first {
        width: 100%;
        margin: 0;
        padding: 0;

    }

    header #topsec .first .leftsec {

        margin-left:  14%;
    }

    #topsec .first .time {
        text-align: center;
        padding: 0px;
        margin: 0px auto;
        height: 28px;
        font-size: 16px;
        width: 90%;
    }

    

    
    header #topsec .scnd {
        width: 100%;
        margin: 0;
        padding: 0;
        position: relative;
        justify-content: space-between;

    }

    header #topsec .scnd a {
        width: 90%;
        text-align: center;
        padding: 4%  0px 4%  0px;
    }

    header #topsec .scnd img {
        width: 50%;
        height: 70px;
        margin-left: 8%;
    }

    #search_bar {
        display: none;
    }

    #serchbar {
        display: block;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 50px;
        margin: 4% 0px;

    }

    #serchbar #wrapper {
        width: 90%;
        display: flex;
        justify-content: space-between;
    }

    #serchbar #wrapper input {
        width: 98%;
        border: none;
        outline: none;
        background-color: #F6F6F6;
        font-family: robotsan, sans-serif;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        font-size: 15px;
        padding: 0px 4px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.18);
    }

    #searchbtn {
        width: auto;
        height: 50px;
        font-size: 25px;
        border: none;
        outline: none;
        background: rgb(255, 255, 255);
        padding: 16px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.18);

        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;


    }


    #menubar {
        display: block;
        position: relative;
        z-index: 10;
        color: black;
        /* width: 100px; */
        height: 80px;
        right: 0;
        font-size: 27px;
    }

    #menubar i {
        position: absolute;
        right: 15px;
        top: 60%;
        color:#002B5A;
    }

    

  

    header #topsec .third{
        display: none;
    }

    #nav {
      display: none;
    }

    #nav2 {
        display: block;
        width: 100%;
        /* height: 400px; */
        background-color: rgba(0, 10, 88, 1);
        position: absolute;
        z-index: 15;
        top: 25%;

    }

    #nav2 .navlink2 {
        display: flex;
        flex-direction: column;
    }

    #nav2 .navlink2 a {
        width: 100%;
        color: white;
        font-family: robotsan, sans-serif;
        font-size: 17px;
        padding: 15px;
        border-bottom: 1px solid white;
        font-weight: 300;
    }


    

    

   

    .swiper {
        height: 600px;
      
      }

      #cardslider .slider {
        height: 600px;

      }

      #cardslider .slider img {
        width: 800px;
        height: 500px;
      }

    #leftsideoffer{ 
        display: none;
    }

    #afterslider {
        width: 100%;
    }

    #productwrapper {
        width: 100%;
    }

    #rightsideproduct {
        width: 100%;
        flex-direction: column;
        box-shadow: none;

    }

    #rightsideproduct .row {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    #productcard {
        width: 90%;
        margin-bottom: 4%;
        border: 1px solid rgba(87, 87, 87,.5);
    }

    #productcard .productimg img {
        width: 40%;
    }

    .submit {
        width: 98%;
    }

    .submitmargin {
        margin-top: 25%;
    }

    .submitmargin3 {
        margin-top: 28%;
    }


    #shippinwrapper .shipping {
        width: 100%;
    }

    #salogan {
        justify-content: space-between;
        padding-left: 5px;
    }

    #productdevider {
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    #productdevider .productimg {
        width: 95%;
    }

    #productdevider .productimg img {
        
        width: 80%;
        margin: 0px auto;
    }

    #productinfo {
        width: 100%;
        margin: 0;
        padding: 20px;
    }

    #productdis {
        flex-direction: column;

    }

    #productdis .leftoption {
        width: 100%;
        text-align: center;
        padding: 0px;
        margin: 0px;
    }

    #productdis .leftoption p{
        width: 100%;
        text-align: center;
        border: none;
    }

    #productdis .leftoption :nth-child(1) {
        border-top: 1px solid rgba(2, 2, 2,.2);
    }
    
    
    #productdis .leftoption :nth-child(3) {
        border-bottom: 1px solid rgba(2, 2, 2,.2);
    }

    #productdis .rightdis {
        width: 100%;
    }

    #blank2 {
        display: none;
    }


    #quality {
        flex-direction: column;
    }

    #quality .firstbox {
        width: 100%;
    }

    #quality .firstbox p {
        margin: 3% 0px;
    }

    #contactpage {
        width: 100%;
    } 

    #Contact_Us_Now {
        text-align: center;
        margin-top: 4%; 
    
    }

    #footer {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 10px;
        margin-top: 10%;
    }

    #fnav {
        width: 100%;
        align-items: flex-start;
        margin: 0;
        padding: 0;
    }

    #fnav .navfooter {
        text-align: left;
        margin: 0;
        padding: 0;
    }


    #flogo {
        margin: 2% 0px;
    }

    #flogo img {
        width: 100%;
    }


}