*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
}

body{
    width: 100%;
    /* height: 100vh; */
    text-align: center;
}


h1 {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


header{
    width: 100%;
    height: 120px;
    background-color: lightblue;
    box-shadow: 0px 4px 10px rgba(0 0 0 /.4);
}

header nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

header nav a {
    display: flex;
    text-align: center;
    align-items: center;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 4px;
    color: #666;
    box-shadow: 0px 4px 10px rgba(0 0 0 /.4);
    text-transform: capitalize;
    color: hotpink;
    letter-spacing: 1px;
}


footer {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    gap: 40px;
    padding: 10px 10px;
    /* align-items: center; */
    justify-content: center;
    background-color: black;
    height: 200px;

}

footer div {
    height: 250px;
    border-radius: 8px;
    margin-top: -80px;
    box-shadow: 8px 4px 10px rgb(37, 189, 240,.4);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
    
}

footer :nth-child(1) {
background-color: lightblue;    
}

footer :nth-child(2) {
background-color: rgb(67, 103, 116);    
}

footer :nth-child(3) {
background-color: rgb(37, 189, 240);    
}

footer :nth-child(4) {
background-color: rgb(78, 224, 124);    
}